<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
  <head>
     <meta http-equiv="content-type" content="application/xhtml+xml; charset=utf-8" />
     <link rel = "stylesheet" type = "text/css" href = "/listas.css" />
	 <script type="text/javascript" src=http://yui.yahooapis.com/2.4.1/build/yahoo-dom-event/yahoo-dom-event.js"></script>
	 <script type="text/javascript" src="http://yui.yahooapis.com/2.4.1/build/connection/connection-min.js"></script>
	 <script type="text/javascript" src="http://yui.yahooapis.com/2.4.1/build/autocomplete/autocomplete-min.js"></script>
	 <script type="text/javascript" src="http://yui.yahooapis.com/2.4.1/build/autocomplete/assets/skins/sam/autocomplete.css"></script>
     <script>
     
     function loadPageToDiv(page, div)
     {
     		var httpRequest;
			if (window.XMLHttpRequest)
			{
				//El explorador implementa el interfaz de forma nativa
				httpRequest = new XMLHttpRequest();
			} 
			else if (window.ActiveXObject)
			{
				//El explorador permite crear objetos ActiveX
				try {
					httpRequest = new ActiveXObject("MSXML2.XMLHTTP");
				} catch (e) {
					try {
						httpRequest = new ActiveXObject("Microsoft.XMLHTTP");
					} catch (e) {}
				}
			}
			if (!httpRequest)
			{
				alert("No ha sido posible crear una instancia de XMLHttpRequest");
			}
			
			var destination = div
			
			httpRequest.onreadystatechange = function()
			{
		        if (httpRequest.readyState==4) {
					
		            if (httpRequest.status==200) {
		                destination.innerHTML = httpRequest.responseText;
		            }
		            else
		            {
		            	alert("error de carga de contenido")
		            }
		        }
			}
			httpRequest.open("GET",page, true)
			httpRequest.send()
     }
     
     function showContent(id, art_id)
     {
     	var n = document.getElementById(id);
% if nocontent: 
		n.innerHTML = 'Cargando...'
		loadPageToDiv("/veronica/content?id=" + art_id, n)
% endif
		if (n.style.display == 'none' || !n.style.display)
			n.style.display = 'block';
		else
			n.style.display='none';
		
     }
     
     function gotoSimilar(article_id)
     {
     	document.location.href="/veronica/similar?id=" + article_id
     }
    
     // FUNCION TAGGING usando YUI
    var MA = {};
    MA.autocomplete = function()
    {
      var e = YAHOO.util.Event;
      var w = YAHOO.widget;
  
      return {
        init: function()
        {
           e.onAvailable("myInput", this.fnHandler);
        },
        fnHandler: function()
        {
          var rDS = new w.DS_XHR("/veronica/tags", ["ResultSet.Result","Title"]);

          rDS.maxCacheEntries    = 60; 
          rDS.queryMatchContains = true;

          var rAC = new w.AutoComplete("myInput","myACContainer", rDS); 

          rAC.formatResult = function(item, query) 
          {
            return item[1].Title;
          };
      
          rAC.forceSelection           = true; 
          rAC.allowBrowserAutocomplete = false; 
      
          rAC.itemSelectEvent.subscribe(
            function(sType, aArgs) 
            { 
              var data = aArgs[2];
              document.getElementById("object_id").value = aArgs[2][1]['Id'];
            }
          ); 
        },
    
      }
    }();

    MA.autocomplete.init();
     
    </script>
    <style>
    #myAutoComplete {
	    width:20em; /* set width here or else widget will expand to fit its container */
	    padding-bottom:20em; /* allow enough real estate for the container */
	}
	.yui-skin-sam .yui-ac-content { /* set scrolling */
	    max-height:18em;overflow:auto;overflow-x:hidden; /* set scrolling */
	    _height:18em; /* ie6 */
	}
    </style>
  </head>
	<body>
		<label for="myInput">Assign tags:</label>
		<div id="myAutoComplete">
			<input id="myInput" type="text" />
			<div id="myACContainer"></div>
			<input id='object_id' type="hidden" />
		</div>
% for i, art in enumerate(articles):
			<div class="result">
                <div class="date">${art.pub_date.strftime("%H:%M %d/%m/%Y")}</div>
                <div class="feed"><a href="/veronica/lastByFeed?id=${art.feed.id}">${art.feed.title}</a> </div>
                <div class="article"><input class="plus_button" type="button" value="+" onclick="showContent('content_${i}', ${art.id});"><input class="similar_button" type="button" value="~" onclick="gotoSimilar(${art.id});"> <a href = "${art.link}">${art.title}</a></div>
                <div id="content_${i}" class="content">${art.content}</div>
			</div>
% endfor
	Tiempo query BD: ${db_elapsed} segundos. <br />
	</body>
</html>
